  <p class="buttons">
    <%= save_model_button(@page) %> 
    <%= save_model_and_continue_editing_button(@page) %> 
    or 
    <%= link_to "Cancel", page_index_url %>
    <%= render_region :buttons %>
  </p>
